---
pageable: false
per_page: 10
---
<!--   <div class="nav-lg">
    <div class="logo-wrap"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo"></div>
  </div> -->
  <!--start nav-->

  <%= partial "partials/nav" %>

  <div id="fullpage">
    <div class="section gradient3" id="Home" data-anchor="Home">
      <section class="wrapper home-content">
        <div id="hero-story" class="hero">
          high tops
        </div>
        <div class="hero-h2">
          <!-- websites and apps driven by business needs -->
          websites and apps driven by business needs
          <!-- places to be and a way to get there.<br><br> -->
          <!-- <a href="" style="font-size:1.2rem;">mission</a> -->
        </div>
        <div class="hero-sub">

          <!-- a web development consultancy<br>
          <strong>based in NYC</strong> -->
        </div>
      </section>
    </div>
    <div class="section midnight" data-anchor="Work" id="Work">
      <section class="wrapper night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Creators Connect</h2>
            <p class="small"><!-- <strong class="highlight3">Creators Connect</strong> --> Creators Connect needed to engage their community user base. I developed a completely custom WordPress theme from a mock up and helped imagine the feature set. I programmed it to have a modern feel and modern functionality. <a href="http://creatorsconnect.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
            <div class="scr-desktop">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-cc.jpg" data-src-small="/images/small/screen-cc.jpg" alt="creators connect screen capture">
            </div>
            <%= partial "partials/loading" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-creators.png" alt="creators connect mobile screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading" %>
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/marlo.jpg" alt="Marlo of Creators Connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div>
      </section>
    </div>

    <div class="section white-moon">
      <section class="wrapper">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Nice Track</h2>
            <p class="small">Nice Track is a prototype for a quantitative journaling application. Everyday, a user can rate topics of interest to their lives and add a short journal entry about the rating. As more ratings are added, new charts are automatically added to provide deeper insight. I developed this on Meteor, a fullstack javascript framework for building apps. <a href="https://nicetrack.meteor.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
              <div class="scr-desktop">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-nicetrack2.jpg" data-src-small="/images/small/screen-nicetrack2.jpg"  alt="nice track screen capture">
              </div>
              <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-nicetrack.png" alt="nice track screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <div class="main-big main-big-spacetop">
            <div class="scr-desktop">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-nicetrack.jpg" data-src-small="/images/small/screen-nicetrack.jpg" alt="nice track screen capture">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
          </div>
          <br>
          <br>
      </section>
    </div>

    <div class="section gray-night" data-anchor="Work" >
      <section class="wrapper night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Temporary Storage Galleries</h2>
            <p class="small">Temporary Storage needed to promote their gallery rental business. I helped make sure the copy's order, positioning, and styles communicated Temporary Storage's community values as well as their place in the Bushwick arts hub. Various "calls to action" specifically drive and remind visitors to make a reservation. I customized an additional events management feature to promote gallery exhibits and curators, past and present. <a href="http://temporarystorage.info" target="blank">Visit this project's website <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
              <div class="scr-desktop">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-tstor.jpg" data-src-small="/images/small/screen-tstor.jpg" class="huge-screen"  alt="temporary storage screen capture">
              </div>
              <%= partial "partials/loading" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-tstor.png" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading" %>
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <div class="testimonial">
          <div class="testimonial-block upstate-testimonial-block">
            Working with Austin was seamless. His friendly, upbeat attitude made building our website an absolute pleasure. He is great at explaining web issues in an easy to understand manner and <strong class="highlight">now our website looks and functions beautifully</strong>. I would recommend him to anyone looking for a real professional with the added bonus of having an undeniable eye for design.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/maya-meissner.jpg" alt="Maya Meissner - Temporary Storage Galleries" class="testimonial-pic upstate-test-pic"><p class='testimonial-p'>Maya Meissner, <em>Temporary Storage Galleries</em></p>
          </div>
        </div>
      </section>
    </div>

    <div class="section egg-blue">
      <section class="wrapper">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Made Pulse</h2>
            <p class="small">MadePulse was created as an in-the-moment accomplishment tracker or "done list" where users can share their work and project progress with others. I built in social functionality such as: likes, comments, and the ability to follow other users. I built this app in Ruby on Rails. <a href="https://madepulse.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
              <div class="scr-desktop">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-madepulse.jpg" data-src-small="/images/small/screen-madepulse.jpg"  alt="made pulse screen capture">
              </div>
              <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-madepulse.png" alt="made pulse screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <div class="main-big main-big-spacetop">
            <div class="scr-desktop">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-madepulse2.jpg" data-src-small="/images/small/screen-madepulse2.jpg" alt="made pulse screen capture">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
          </div>
          <br>
          <br>
      </section>
    </div>

    <div class="section summer-nite">
      <section class="wrapper night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Brooklyn Fire Proof Stages</h2>
            <p class="small">Brooklyn Fire Proof needed to promote their sound stage business. I started with a pre-built WordPress theme then customized it with additional functionality. I then optimized it to improve page load times by 300% to help with SEO and user experience. <a href="http://brooklynfireproofstages.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-bfp.jpg" data-src-small="/images/small/screen-bfp.jpg"  alt="brooklyn fireproof stages screen capture">
              </div>
              <%= partial "partials/loading" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-bfp.png" alt="brooklyn fire proof stages mobile screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading" %>
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <div class="testimonial">
          <div class="testimonial-block">
           Austin is <strong class="highlight">incredibly professional, efficient, responds promptly</strong> to questions and concerns, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/erin.jpg" alt="Erin Anderson of Brooklyn Fire Proof" class="testimonial-pic"><p class='testimonial-p'>Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </div>
      </section>
    </div>

    <!-- <div class="section egg-blue">
      <section class="wrapper">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Calico</h2>
            <p class="extra-sm">Calico was created to offer fast, free, and easy calendar booking for professionals. I built this app to be lightweight and mobile responsive so users could book with their favorite professionals on-the-go. <a href="https://calico.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-calico.jpg" data-src-small="/images/small/screen-calico.jpg" alt="calico screen capture">
              </div>
              <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-calico.png" alt="calico mobile screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <br>
          <br>
      </section>
    </div> -->

    <div class="section white-moon">
      <section class="wrapper">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Haiku</h2>
            <p class="small">Haiku was born out of the need for a simple, lightweight text editor with just a few basic features for composing notes. I hooked together the ZenPen package with a Ruby on Rails back end for authentication so users can save their work in the cloud. <a href="https://aha-haiku.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">
            <div class="scr-desktop">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/screen-haiku.jpg" data-src-small="/images/small/screen-haiku.jpg" alt="haiku screen capture">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>
          <div class="sidebar2 omega">
            <div class="scr-mobile">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-haiku.png" alt="haiku mobile screen capture" class="scr-mobile-wrap">
            </div>
            <%= partial "partials/loading-inverted" %>
          </div>

      </section>
    </div>


    </div>
    <%= partial "partials/about" %>
    <%= partial "partials/contact" %>
